@font-face {
    font-family: 'LOVES';
    src: url('LOVES-REG.eot');
    src: url('LOVES-REG.eot?#iefix') format('embedded-opentype'),
        url('LOVES-REG.woff2') format('woff2'),
        url('LOVES-REG.woff') format('woff'),
        url('LOVES-REG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

